#cloud-config
package_update: true
package_upgrade: true

packages:
  - qemu-guest-agent
  - docker.io
  - docker-compose-plugin
  - ca-certificates
  - curl
  - bash
  - usbutils

runcmd:
  - systemctl enable --now qemu-guest-agent
  - systemctl enable --now dockercloud-config
