[Unit]
Description=immich server
Documentation=https://github.com/immich-app/immich
Requires=redis-server.service
Requires=postgresql.service

[Service]
User={{ immich_user }}
Group={{ immich_group }}
Type=simple
Restart=on-failure
UMask=0077

WorkingDirectory={{ immich_app_dir }}
ExecStart={{ immich_app_dir }}/start.sh

SyslogIdentifier=immich
StandardOutput=append:/var/log/immich/immich.log
StandardError=append:/var/log/immich/immich.log

[Install]
WantedBy=multi-user.target