PM_API_TOKEN_ID='terraform-prov@pve!mytoken'
PM_API_TOKEN_SECRET='your_proxmox_api_token_secret'
TAILSCALE_AUTH_KEY='your_tailscale_auth_key'
IMMICH_POSTGRES_PASSWORD='your_immich_postgres_password'
FTP_PASSWORD='your_ftp_password'
VAULTWARDEN_ADMIN_TOKEN='your_vaultwarden_admin_token'
BOOKORBIT_POSTGRES_PASSWORD='your_bookorbit_postgres_password'
BOOKORBIT_JWT_SECRET='your_bookorbit_jwt_secret'
BOOKORBIT_SETUP_BOOTSTRAP_TOKEN='your_bookorbit_bootstrap_token'
TELEGRAM_BOT_TOKEN='your_telegram_bot_token'
LXC_SSH_USER=root
GO_VERSION=1.22.0
