APP_URL=http://192.168.0.7:3000
BOOKS_HOST_PATH=/opt/bookorbit/books
POSTGRES_PASSWORD=changeme
POSTGRES_USER=bookorbit
POSTGRES_DB=bookorbit
JWT_SECRET=changeme
SETUP_BOOTSTRAP_TOKEN=changeme
PUID=1000
PGID=1000
LOG_LEVEL=info
