version: "3.8"

services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    network_mode: host
    dns:
      - 1.1.1.1
      - 8.8.8.8
    environment:
      TZ: "America/Sao_Paulo"
      FTLCONF_webserver_port: "8080"
      FTLCONF_webserver_api_password: "0000"
    volumes:
      - ./pihole/etc-pihole:/etc/pihole
      - ./pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
